
.acordeon {
    border: 1px solid #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    transition: 0.25s;
    width: 100%;
}

.acordeon.open,
.acordeon:hover {
    background-color: #55569e;
    border-color: #55569e;
}

.acordeon .trigger {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.acordeon .trigger h2 {
    font-size: 1.5rem;
    margin: 0;
}

.acordeon .trigger::after {
    content: "";
    background-image: url("assets/img/icons/icons8-seta-para-cima-50.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1.5rem;
    transition: .25s;
    width: 1.5rem;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .content {
    display: block;
    height: 100%;
    opacity: 1;
    padding: 0 1rem 1rem 2rem;
}