
.portfolio {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li .title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}

.portfolio li .title.github::before {
    content: "";
    background-image: url("/assets/img/icons/icons8-github-32.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1.25rem;
    margin-right: .5rem;
    width: 1.25rem;
}

