
.skills {
    display: flex;
    flex-direction: column;
}

.skills .tools ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills .tools ul img {
    margin: 0 .5rem;
    max-width: 50px;
}

.skills .tools ul .imageCss {
    max-width: 47px;
}

.skills .personal ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.skills .personal ul li {
    margin-left: 2rem;
    padding: .5rem;
}

@media only screen and (min-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}